<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.ttappdemo.dao.FriendshipMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zr.ttappdemo.model.entity.Friendship">
        <id column="friendship_id" property="friendshipId" />
        <result column="user_id" property="userId" />
        <result column="friend_id" property="friendId" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        friendship_id, user_id, friend_id, status, remark, created_at, updated_at
    </sql>

</mapper>
