<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.ttappdemo.dao.FundsMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zr.ttappdemo.model.entity.Funds">
        <id column="funds_id" property="fundsId" />
        <result column="total_funds" property="totalFunds" />
        <result column="saving_funds" property="savingFunds" />
        <result column="vip_funds" property="vipFunds" />
        <result column="gift_funds" property="giftFunds" />
        <result column="freeze_funds" property="freezeFunds" />
        <result column="commission_funds" property="commissionFunds" />
        <result column="vip_grand_total" property="vipGrandTotal" />
        <result column="user_id" property="userId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        funds_id, total_funds, saving_funds, vip_funds, gift_funds, freeze_funds, commission_funds, vip_grand_total, user_id, created_at, updated_at, deleted
    </sql>

</mapper>
