<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.ttappdemo.dao.StateMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zr.ttappdemo.model.entity.State">
        <id column="state_id" property="stateId" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="area" property="area" />
        <result column="state_status" property="stateStatus" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        state_id, user_id, content, created_at, updated_at, area, state_status, longitude, latitude, deleted
    </sql>

</mapper>
