<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.ttappdemo.dao.TermsMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zr.ttappdemo.model.entity.Terms">
        <id column="term_id" property="termId" />
        <result column="term_name" property="termName" />
        <result column="term_category" property="termCategory" />
        <result column="term_type" property="termType" />
        <result column="price" property="price" />
        <result column="parent_id" property="parentId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted" property="deleted" />
        <result column="term_status" property="termStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        term_id, term_name, term_category, term_type, price, parent_id, created_at, updated_at, deleted, term_status
    </sql>

</mapper>
